body {
	width: 60%;
	margin: 0 auto;
	font-size: 17px;
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 1.2em;
}

h3 {
	text-align: center;
	font-size: 1.3em;
	color: #14626D;
	margin: 1em 0;
}

p {
	margin: 1em 0;
	text-indent: 1em;
}

table, thead, tbody, tr, td {
	border: 1px solid #888;
}

thead {
	height: 2em;
	font-size: 1.1em;
	text-align: center;
}

table tr {
	height: 2em;
}

table td {
	padding: 0.4em;

}

table td:first-child {
	width: 4%;
}

table td:nth-child(2) {
	width: 24%;
}

#header {
	padding: 24px 0;
}

#header ul {
	text-align: center;
}

#header li {
	display: inline;
	margin: 13px;
}

#header li>a {
	text-decoration: none;
	font-variant: small-caps;
	font-size: 1.3em;
	color: #2C2C2C;
}

#header li>a:hover {
	font-weight: 600;
}

#header li>a.active {
	font-weight: 600;
}

#main {
	margin: 20px 0;
}

#main ul {
	list-style-type: square;
}

#main ul ul {
	margin: 0 0 0 2em;
}

.screenshots img {
	width: 80%;
	margin: 0 auto;
	display: block;
}

#footer {
	text-align: right;
	font-size: 0.7em;
	color: #2C2C2C;

}

#footer a {
	color: #6B6A6A;
	text-decoration: none;
}

#footer a:hover {
	font-weight: 600;
}