{# src/Poll/PollBundle/Resources/views/Poll/view_poll.html.twig #}
{% extends 'PollPollBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="col-md-3"></div>
	<div class="col-md-6">
		{% for title in titles %}
			<div class="well"><h4><a href="">{{ title }}</a></h4></div>
		{% endfor %}
	</div>
{% endblock %}