{# src/Poll/PollBundle/Resources/views/Poll/view_poll.html.twig #}
{% extends 'PollPollBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="col-md-3"></div>
	<div class="col-md-6">
		{% for poll in polls %}
			<div class="well"><h4><a href="{{ path('poll_show_one', {'poll_id': poll.id}) }}">{{ poll.title }}</a></h4></div>
		{% endfor %}
	</div>
{% endblock %}