{# src/Poll/PollBundle/Resources/views/Poll/view_poll.html.twig #}
{% extends 'PollPollBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="well">
			<form role="form">
				<fieldset>
					<legend>Title of the poll</legend>

					<p class="help-block">Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Enim id provident quas veritatis. Architecto
						at aut commodi culpa cupiditate debitis dolorem, dolores fugiat
						itaque magnam sapiente, soluta suscipit, tenetur veniam!</p>

					<div class="form-group">
						<label for="textQuestion">1. This is a text question</label>
						<textarea class="form-control" rows="3" id="textArea"></textarea>
					</div>
					<div class="form-group">
						<label for="singleChoice">2. This is a single choice
							question</label>

						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios"
								       id="optionsRadios1" value="option1" checked>
								Option one is this and that&mdash;be sure to include why
								it's great
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="optionsRadios"
								       id="optionsRadios2" value="option2">
								Option two can be something else and selecting it will deselect option one
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="multiChoice">3. This is a multiple choice question</label>

						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option one
							</label>
						</div>

						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option two
							</label>
						</div>

						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option three
							</label>
						</div>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">Submit</button>
						<div class="btn-group">
							<button type="button" class="btn btn-info">More</button>
							<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span
										class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">View results</a></li>
								<li><a href="#">Edit</a></li>
								<li><a href="#">Delete</a></li>
							</ul>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}