{# src/Poll/PollBundle/Resources/views/Default/index.html.twig #}
{% extends 'PollPollBundle:Default:layout.html.twig' %}

{% block content %}
	<h1 class="text-center fs60"><strong>Anketa</strong></h1>
	<h1 class="text-center mt0">
		<small>Best place to manage your polls</small>
	</h1>
	<div class="h40"></div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
			<a href="{{ path("poll_create_poll") }}" class="btn btn-success btn-lg btn-block">Create a poll</a>
		</div>
		<div class="col-md-4">
			<a href="#" class="btn btn-success btn-lg btn-block">Take a random poll</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 fs18">
			<hr/>
			<h3 class="text-center">Why choose Anketa?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam blanditiis corporis cumque debitis
				doloribus eaque eius, explicabo impedit magni maiores numquam omnis, perspiciatis, quas tempore voluptas
				voluptates! Doloribus, totam!</p>
			<ul>
				<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
				<li>Aliquam tincidunt mauris eu risus.</li>
				<li>Vestibulum auctor dapibus neque.</li>
			</ul>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
				quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
				ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
				Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
		</div>
	</div>
{% endblock %}